@font-face {
    font-family: 'MinhaFonte';
    src: url('Water\ Galon.ttf');
    font-weight: normal;
    font-style: normal;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  html, body {
    height: 100%;
    overflow: hidden;
    font-family: 'MinhaFonte', sans-serif;
    background-color: #0396A6;
    color: #D93D04;
    text-align: center;
  }
  

#maze {
    display: grid;
    grid-template-columns: repeat(30, 35px);
    gap: 0;
    margin: 20px auto;
    width: max-content;
}

.cell {
    width: 35px;
    height: 35px;
    border: 2px solid #0396A6; 
}

.cell.wall {
    background-color: #8C3211;
    border: 2px solid #260101; 
    border-radius: 4px;
    box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.4); 
}

.cell.exit {
    background-color: green; 
    background-image: url("AlbedoBase_XL_Um_pato_amarelo_fofo_e_estilizado_com_olhos_gran_2.jpg");
    background-size: cover;
}

.cell.player {
    background-color: #0396A6; 
    background-image: url("patinho\ \(1\).gif");
    background-size: cover; 
}

#maze-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #A6056D; 
    color: azure;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    display: none;
    z-index: 1000;
    border: 2px solid #fff;
}

#start-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-image: url('AlbedoBase_XL_Um_pato_amarelo_fofo_e_estilizado_com_olhos_gran_1.jpg'); 
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat; 
}


#game-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

#start-button, #restart-button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #590202;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#start-button:hover, #restart-button:hover {
    background-color: #B64D80; 
}

#start-image {
    width: 300px;
    margin-bottom: 20px;
    border-radius: 10px;
}

#victory-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-image: url('AlbedoBase_XL_Um_pato_amarelo_fofo_e_estilizado_com_olhos_gran_3.jpg'); 
    background-size: cover;      
    background-position: center;  
    background-repeat: no-repeat;
}

#victory-message {
    color: #fff; 
    font-size: 2rem;
    margin-bottom: 20px;
}
#game-over-screen {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

   
    background-image: url('AlbedoBase_XL_Prompt_em_ingls_para_IA_de_gerao_de_imagemAn_oil_3.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    justify-content: center;
    align-items: center;
    z-index: 1000;
}


#game-over-message {
    text-align: center;
    background-color: #F23D3D; 
    color: #590202;
    padding: 30px;
    border-radius: 15px;
    width: 80%;
    max-width: 500px; 
}

#game-over-message h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}

#game-over-message p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

#restart-button-game-over {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color:  #8C0808; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#restart-button-game-over:hover {
    background-color: #D81B60; 
}